.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(110deg);
  }
}


.searchText {
  width: 75% !important;
  margin: auto !important;
}

.iconn {
  width: 64px;
  height: 64px;
}

.LiquorCard {
}

.LiquorImage {
  margin:auto;
}

.fixed-container {
  padding:10px;
}

.cardContainer {
  margin-bottom: 40px;
}

.Collapsible {
    border: black;
    border-width: medium;
    border-style: solid;
    padding: 5px;
    border-radius: 22px;

    cursor:pointer;
}

.app-section {
    margin-bottom:50px;
}

.emptyResults{
min-height: 200px;
}

.h3{
  margin-bottom: 50px !important;
}

.btn-primary {
  margin-top:30px !important;
  margin-bottom: 50px !important;
  min-width: 100px;
  min-height: 50px;
}